/*Reset*/

*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
}




/*Style*/

    /*Style Header*/

    header{
        background: #3b5997;
    }

    header section{
        max-width: 95rem;
        margin: auto;
        display: inline-block;
    }

    header img{
        display: inline-block;

    }

    header form{
        display: inline-block;
        text-align: right;
    }














    

    footer{
        font-size: 1.2rem;
        color: #737373;
    }

    footer ul:first-of-type {
        border-bottom: .1rem solid #d9d9d9;
        padding-bottom: 1rem;
    }

    footer ul:first-of-type li{
        margin-right: .5rem;
    }

    footer li{
        display: inline-block;
    }

    footer ul:last-of-type li {
        width: 16%;
        vertical-align: top;
        margin-bottom: .5rem;
    }
    