*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size:1.5rem;
}


header, main, footer{
    max-width: 80rem;
    margin: auto;
    margin-bottom: 2rem;

}

input, textarea, label{
    display: block; 
    width: 100%;
    margin-bottom: 2rem;
}