@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700|Work+Sans:400,700');

/* reset */

*{
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/*style des listes*/
ul{
    list-style: none;
}

a, header li{
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
}

h1{
    color: black;
    font-family: 'Space Mono', monospace;
    
    letter-spacing: .8rem;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 2rem;

}

h1 span{
    text-transform: lowercase;
    font-weight: 400;
    display: block;
    font-size: .5em;
    letter-spacing: initial;
}

h2{
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}


img{
    max-width:100%;
}

        /* style nav */

            header{ 
                background-color: #f4f4f4;
                padding: 2rem 2rem 3rem 2rem;

                /*bloquer les enfants dans le parent*/
                position: relative;
            }

            nav{
                display:none;
            }

            .aboutPage nav{
                position: fixed;
                background:black;
                top: 0;
                left:-100%;
                height: 100%;
                padding: 2rem;
                width: 20rem;

                z-index: 100000;
                display: block;
            }

            nav a{
                color: black;
            }



            header li{
                
                background: rgba(255, 255, 255, .50);
                padding: 1rem;
                margin-bottom: .8rem;
            }

            header li:hover{
                background: rgba(255, 255, 255, 1);
                
            }



            header>a{
                /*la balie a qui est enfant direct du header  ou h1+a (la balise a qui suit directement le h1 ou header:nthchild(2) (le deuxième enfant du header)*/
                display:inline-block;
                width: 4rem;
                height: 4rem;
                padding-top: .8rem;

                font-size: 1.9rem;

                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: #f4f4f4;
                color: black;

                position: absolute;

                top: 100%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }




            /* Afficher la nav au survol de la balise a du header*/

                /* le survol de la balise a fait apparaitre la nav*/


            /* Style main */

                main {
                    padding: 4rem 2rem 10rem 2rem;
                }












        /*Style About*/
        [src= "img/av.jpg"]{

            -webkit-border-radius: 50%;
            border-radius: 50%;
            width: 15rem;

            margin-bottom: 2rem;
        }

        [src= "img/av.jpg"] + p{

            margin-bottom: 2rem;

        }

        h3 + ul{
            text-align: left;
            margin: 2rem auto; 
        }

        /*Toutes les balises li qui suivent une balise h3*/
        h3 + ul li {
            background:lightcoral;
            padding: .1rem;
            margin-bottom: 1rem;
            position: relative;
        }

        h3+ ul p{
            background: #f4f4f4;
            padding: 1rem;
            min-height: 3.5rem;
            width: 0;
        }

        h3+ ul span{

            position:absolute;

        }














        /* style portfolio */


        figure{
            position: relative;
        }

        figcaption{

            position: absolute;
            width: 20rem;
            padding: 1rem 2rem;
            background: white;
            top: 50%;
            left: 50%;


            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            -webkit-border-top-left-radius: 1rem;
            border-top-left-radius: 1rem;
        }

        figcaption button{
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            border: 0;
            padding: 1rem;
            border-bottom-right-radius: 1rem;
        }


        #modal{
            position: fixed;
            top:0;
            left:0;
            background: rgba(0, 0, 0, .7);
            width: 100%;
            height: 100%;
            z-index: 2000;

            display:none;
        }

        #modal article{
            background: white;
            width: 35rem;
            margin: 5rem auto;
            padding: 2rem;
            text-align: left;
        }











        /*style contact*/
form{
            text-align: left;
            margin: 2rem auto;
        }

        select{
            margin: 1rem auto 3rem auto;
        }

        textarea{
            min-height: 20rem;
        }

        
        textarea, input, label{
            display: block;
            width: 100%;
            border: none;
            padding: 1rem;
        }

        input{
            position: relative;
            z-index: 2000;
            background-color: transparent;
        }

        [type="checkbox"]{
            display: inline-block;
            width: auto;
        }


        textarea, input:not([type="submit"]){
            border-bottom: .1rem solid lightcoral;
            margin-bottom: 2rem;
        }


        form article{
            position: relative;
        }

        label{
            padding: 0;
            font-weight: 700;
            transition: all .5s;
        }

        label:not([for="userSubject"]){
            position: absolute;
            top: .5rem;
        }

        label.openedLabel {
            top: -1.5rem;
            font-size: 1.2rem;
            color: grey;
        }

        form b {
            font-size: .5rem;
            text-transform: uppercase;
            color: lightcoral;

            -webkit-transition: opacity .5s;
            transition: opacity .5s;

        }

        .hideError b{ 

            opacity: 0;
        }


        /* Style footer */

                footer{
                    position: fixed;
                    bottom:0;
                    left:0;
                    width:100%;
                    background: #f4f4f4;
                    padding: 2rem;

                    z-index:100;
                }


                footer a{
                    color: lightcoral;
                }

                /* toutes les balises li du footer sauf la dernière*/

                footer li:not(:last-child){
                    display: inline-block;
                    margin-bottom: 1rem;
                }





















/* Requetes media */

@media screen and (min-width: 400px){
    


@media screen and (min-width: 750px){


        /*style reset */
        main, h1, nav{
            max-width:85rem;
            margin: auto;
        }

        h1{
            font-size: 4rem;
            text-indent: 1rem;
        }

        h1 span{display: initial}

        /*style header */

            header{
                text-align: left;
                text-indent: 1rem;
            }

            /*Masquer le Burger */
            header > a{
                display: none;
            }

            nav{
                display: block;

            }
            
            nav li{
                display: inline-block;
                text-indent: 0rem;
            }

            /*style main*/
            main{
                    padding: 4rem 0 10rem 0;
            }


}

