/* reset */

a{
    font-size: 4rem;
    text-decoration: none;
    color: white;
    background: black;
    padding: 1rem;
    -webkit-transition: background .5s, padding .5s, color 4s;
    transition: background .5s, padding .5s, color 4s;
/* les trnsiiton s'ajouentent sur l'état de base des balises */

}

a:hover{
    background: grey;
    color: red;
    padding: 2rem;

}

section{
    background: red;
    width: 10rem;
    height: 10rem;
    transition: all 3s;

    /*modifier la courbe d'animation*/
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;

    /* ajouter un délai avant la transition */

    -webkit-transition-delay: 4s;
    transition-delay: 4s;
    }

section:hover{
    -ms-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);

    background: blue;
}

ul{
    list-style: none;
    padding:0;
}

li{
    border-left: 0rem solid red;
    transition: all .5s;
}

li:hover{
    padding-left: 1rem;
    color:red;
    border-left: .5rem solid red;
}