<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Propos</title>
</head>
<body>
    <h2>A propos</h2>
    
    <img src="img/av.jpg" alt=avatar"">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit unde vitae quibusdam doloremque nam aut ipsa, ut non, saepe excepturi quod beatae velit exercitationem mollitia alias porro iure nisi ipsam.</p>

    <h3> mes compétences</h3>
    <ul>
        <li>
            <p><span>HTML : 10%</span></p>
        </li>

        <li>
            <p><span>CSS : 10%</span></p>
        </li>

        <li>
            <p><span>Javascript : .4%</span></p>
        </li>
    </ul>

    <p>N'héstiez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p>

</body>
</html>