<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contenu de la page</title>



</head>
<body>

        <section id="portfolio">
            <h2>Mon Portfolio</h2>
            <p>Découvrez mes travaux</p>
            <img src="http://vignette4.wikia.nocookie.net/vsbattles/images/9/93/The_Prince.jpg/revision/latest?cb=20141004153426" alt="Noooootre projet">
        </section>

        <section id="contacts">
            <h2>Contactez moi</h2>
            <form action="#">
                <input type="email" placeholder="votre adresse mail">
                <textarea placeholder="Votre message"></textarea>
                <input type="submit" value="envoyer"> 
            </form>

            <aside></aside>

            <p>Adresse: 7 rue des Orteaux 75020 Paris</p>
        </section>


</body>
</html>