@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Fjalla+One');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*
 Style Reset
*/
    * {
        margin: 0;
        padding:0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;

        font-family: 'Crimson Text', serif;
        font-weight: 400;
        text-align: center;
    }

    h1, h2, h3 {
        font-family:'Fjalla One', sans-serif;
        font-weight: 400;
    }

  nav a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-family:'Fjalla One', sans-serif;
        letter-spacing: .5rem;
  }

/*
Style header
*/



    header, footer{
        background: #f3f3f3;
        padding: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

.fa-bars {
        font-size: 2rem;
        padding-top: .6rem;
        position: absolute;
        background: #f3f3f3;
        border: .3rem solid white;
        width: 4rem;
        height: 4rem;
        left: 50%;
        bottom: 0;
        cursor: pointer;

        -webkit-border-radius: 50%;
        border-radius: 50%;

        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }

    h1{
        margin-bottom: 2rem;
    }

    h1 span{
        display:block;
        font-family:'Fjalla One', sans-serif;
        letter-spacing: .8rem;
        padding-top:1rem;
        font-weight: 400;
        font-size: 1.3rem;
        margin:1rem 0 1rem 0;
    }

    nav ul{
        
        height: 0;
        overflow: hidden;

        -webkit-transition: all .5s;
        transition: :all .5s;

    }

    .toggleBurger{
        height: 15rem;
    }

/*
Style Main
*/

    h2{ 
        padding:2rem;
        color:black;
    }

    h2:after{
        content:"";
        display:block;
        width:5rem;
        height:.5rem;
        margin: 1rem auto 2rem auto;
        background: black;
    }

    h3{
        margin-bottom:1rem;
    }

    main, nav{
        max-width:85rem;
        margin:auto;
    }

    /*
    Style footer
    */

    footer{ 
        background: #f3f3f3;
        position: fixed;
        bottom:0;
        left: 0;
        width:100%;
        margin-bottom: 0;
    }

    nav li{

        font-family: 'Crimson Text', serif;
        padding: 1rem;
        margin-bottom: 1rem;
  }

  .active {
      background: white;
  }

  .active a{
      color:red;
  }

@media screen and ( min-width: 850px) {

    /*Style Header*/

    header{
     text-align: left;
    
    }

    fa-bars{
        display: none;
    }


    nav ul{
        height: auto;
        position: absolute;
        right:2rem;
        top: 6rem;
    }

    nav li{ 
        Display: inline-block;
    }

    nav li:not:last-child{
        margin-right: .5rem;
    }

}